/* Light theme color variables */
:root {
  --ifm-color-primary: #0969da;
  --ifm-color-primary-dark: #085ebd;
  --ifm-color-primary-darker: #0859b2;
  --ifm-color-primary-darkest: #064993;
  --ifm-color-primary-light: #2178dd;
  --ifm-color-primary-lighter: #2d80df;
  --ifm-color-primary-lightest: #5298e5;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* Dark theme color variables */
[data-theme='dark'] {
  --ifm-color-primary: #58a6ff;
  --ifm-color-primary-dark: #3291ff;
  --ifm-color-primary-darker: #1f86ff;
  --ifm-color-primary-darkest: #006aec;
  --ifm-color-primary-light: #7ebbff;
  --ifm-color-primary-lighter: #91c6ff;
  --ifm-color-primary-lightest: #cae4ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Light/Dark mode toggle icon */
[data-theme='light'] .clean-btn.toggleButton_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module svg {
  color: #1c1e21;
}

[data-theme='dark'] .clean-btn.toggleButton_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module svg {
  color: #e3e3e3;
}

.footer {
  padding: 1rem 0 !important;
  text-align: center;
}

.footer__copyright {
  margin-top: 0 !important;
}